body {
    background-color: lightblue;
    overflow-x:hidden;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: darkkhaki;
  }

h1 {
    color: navy;
    margin-left: 20px;
}
h2 {
    margin-left: 20px;
}

#round1 
{
    border-radius: 25px;
    background: #eee;
    padding: 20px; 
    align-content: center
}

h3.date_h3
{
    font-family: OCR-A, monospace;
    font-size: 150%;
    
}
h3.subject
{
    color:royalblue;
    /* color: lightyellow; */
    /* color: khaki; */
}

h4.date_h4
{
    font-family: OCR-A, monospace;
    font-size: 110%;
    font-weight: bold; 
    
}

p.p_sub 
{
    color:black;
    font-size: 150%;
    padding-top: 19px;
}

.events{
    margin-top:50px;
}
.new_wind_bot{
    margin-bottom:10%;
}

.new_wind_top{
    margin-top:25%;
}

.intro {
    margin-top:20%;
    margin-bottom:10%;
}

.intro_icon{
    zoom :1.2;  /* to make the icon large */
}
.social_icon{
    margin-bottom:10%;
}

.invis {
    color: white;
    font-size: 10%;
}

.new_Section{
    margin-top:20px;
    margin-bottom:20px;
}

.down_btn{
    text-align: center;
}
html {
    scroll-behavior: smooth;
}

.zoom{
    color: #0F0F0F; 
    position: relative;
    animation: btn_animation 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
@keyframes btn_animation {
    0%   {color:black;  top:0px;}
    25%  {color:black;  top:50px;}
    50%  {color:black;  top:50px;}
    75%  {color:white;  top:50px;}
    100% {color:white;  top:0px;}
    0% {color:white;  top:0px;}
}

.zoomZ {
    padding: 50px;
    transition: transform .2s; /* Animation */
    /* width: 200px;
    height: 200px; */
    margin: 0 auto;
  }
.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}